/* Base Layout*/

html,
body {
  @include font-smoothing(antialiased);
  background-color: $dark;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;

  @include mq(1921, min) {
    font-size: 0.833vw;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
