/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn {
  padding: 13px 46px;
  font-size: 17px;
  line-height: 1.7;
  color: $white;
  border: 1px solid $white;
  display: inline-block;
  outline: none;
  position: relative;
  transition: all 0.3s;
  @include mq(1921, min) {
    padding: 0.6770833333vw 2.39583vw;
    font-size: 0.8854166667vw;
    border: 0.0520833vw solid $white;
  }
}

.btn--ghost {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition: all 0.3s;
  @include mq(1921, min) {
    box-shadow: 0 0 0.0520833vw transparent;
  }

  &:hover {
    background-color: $purple;
    border: 1px solid $purple;
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    @include mq(1921, min) {
      border: 0.0520833vw solid $purple;
    }

    @include mq(768) {
      background-color: transparent;
      border: 1px solid $white;
      animation: none;
    }
  }
}

.btn--full {
  background-color: $purple;
  border: 1px solid $purple;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition: all 0.3s;
  @include mq(1921, min) {
    border: 0.0520833vw solid $purple;
    box-shadow: 0 0 0.0520833vw transparent;
  }

  &:hover {
    background-color: transparent;
    border: 1px solid $white;
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    @include mq(1921, min) {
      border: 0.0520833vw solid $white;
    }

    @include mq(768) {
      background-color: $purple;
      border: 1px solid $purple;
      animation: none;
    }
  }
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }

  33.3% {
    transform: translateX(-6px);
  }

  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }
  
  100% {
    transform: translateX(0);
  }
}
