// Media Query
@mixin mq($value, $constraint: max, $feature: width) {
  @media screen and (#{$constraint}-#{$feature}: $value + px) {
    @content;
  }
}

/*
	Example:
	@include mq($phone) 			 	@media screen and (max-width: 640px)
	
	@include mq(991) 			 	 	@media screen and (max-width: 991px)
	
	@include mq($phone + 1, min) 	 	@media screen and (min-width: 641px)
	
	@include mq(992, min) 			 	@media screen and (min-width: 992px)
	
	@include mq(400, min, height) 	 	@media screen and (min-height: 400px)

	@include mq(992) {				 	@media screen and (max-width: 992px) and (min-width: 767px)
		@include mq(767, min) {

		}
	}
 */

// Font Smoothing
@mixin font-smoothing($val: antialiased) {
  -webkit-font-smoothing: $val;
  -moz-font-smoothing: $val;
  -ms-font-smoothing: $val;
  -o-font-smoothing: $val;
}
