// Font
$font-main-serif: 'Red Hat Display', serif;
$font-main-sans-serif: 'Red Hat Display', Helvetica, sans-serif;

$font-secondary-serif: 'Montserrat', serif;
$font-secondary-sans-serif: 'Montserrat', Helvetica, sans-serif;

$font-main: $font-main-sans-serif;
$font-secondary: $font-secondary-sans-serif;

// Colors
$white: #fff;
$black: #000;
$black-1: rgba(0, 0, 0, 0.15);
$black-2: rgba(0, 0, 0, 0.6);

$dark: #181818;
$light: #dedede;

$purple: #4452fe;
$purple-1: #516395;
$purple-2: #614385;

$green: #4ab969;

$gray: #343434;
