.contents {
  padding: 80px 16px;
  @include mq(1921, min) {
    padding: 4.166666667vw 0.8333333333vw;
  }
  @include mq(768) {
    padding: 48px 16px;
  }
}

.contents__container {
  max-width: 985px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include mq(1921, min) {
    max-width: 51.302083vw;
  }
}

.contents__content {
  margin-bottom: 54px;
  @include mq(1921, min) {
    margin-bottom: 2.8125vw;
  }

  @include mq(768) {
    margin-bottom: 34px;
  }
}

.contents__content-title {
  margin-bottom: 10px;
  @include mq(1921, min) {
    margin-bottom: 0.520833vw;
  }
}

.contents__content-text {
  max-width: 525px;
  width: 100%;
  color: $white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  @include mq(1921, min) {
    max-width: 27.34375vw;
    font-size: 1.041666667vw;
  }
  @include mq(768) {
    font-size: 18px;
  }
}

.contents__cards {
  display: flex;
  @include mq(991) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contents__cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  max-width: 476px;
  width: 100%;
  padding: 50px 48px 40px;
  box-shadow: 0 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 33px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @include mq(1921, min) {
    max-width: 24.79166667vw;
    padding: 2.604166667vw 2.5vw 2.083333333vw;
    box-shadow: 0 0.2083333333vw 1.6145833vw rgba(0, 0, 0, 0.15);
    border-radius: 0.52083vw;
    margin-right: 1.71875vw;
  }

  @include mq(991) {
    margin-right: 0;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(500) {
    max-width: 348px;
  }
}

.contents__cards-item-title {
  margin-bottom: 20px;
  color: $black;
  font-weight: 700;
  @include mq(1921, min) {
    margin-bottom: 1.041666667vw;
  }
}

.contents__cards-item-text {
  max-width: 250px;
  width: 100%;
  font-weight: 1.5;
  margin-bottom: 67px;
  @include mq(1921, min) {
    max-width: 13.02083333vw;
    margin-bottom: 3.489583vw;
  }
}

.contents__cards-item-btn {
  margin-bottom: 30px;
  transition: all 0.3s;
  &:hover {
    border: 1px solid $purple;
    color: $purple;
    @include mq(1921, min) {
      border: 0.0520833vw solid $purple;
    }
  }
  @include mq(1921, min) {
    margin-bottom: 1.5625vw;
  }
}

.contents__cards-item-img {
  margin-top: auto;
  @include mq(500) {
    max-width: 280px;
    width: 100%;
  }
}
